@{
    WebSecurity.RequireAuthenticatedUser();

    var galleryId = UrlData[0].AsInt();

    var db = Database.Open("PhotoGallery");

    var gallery = db.QuerySingle("SELECT * FROM Galleries WHERE Id = @0", galleryId);
    if (gallery == null)
    {
        Response.SetStatus(HttpStatusCode.NotFound);
        return;
    }

    Page.Title = "Отправить фото в альбом — " + gallery.Name;
    if (IsPost)
    {
        var numFiles = Request.Files.Count;
        if(numFiles == 0)
        {
            ModelState.AddError("fileUpload", "Укажите хотя бы одно фото для отправки.");
        } 
        else 
        {
            for (int i = 0; i < numFiles; i++)
            {
                var file = Request.Files[i];
                if (file.ContentLength > 0)
                {
                    var fileUpload = new WebImage(file.InputStream);
                    var fileTitle = Path.GetFileNameWithoutExtension(file.FileName).Trim();
                    if (fileTitle.IsEmpty())
                    {
                        fileTitle = "Без названия";
                    }
                    var fileExtension = Path.GetExtension(file.FileName).Trim();
                    var fileBytes = fileUpload.GetBytes();
                    db.Execute(@"INSERT INTO Photos
                        (GalleryId, UserId, Description, FileTitle, FileExtension, ContentType, FileSize, UploadDate, FileContents) VALUES 
                        (@0, @1, @2, @3, @4, @5, @6, @7, @8)", galleryId, WebSecurity.CurrentUserId, "", fileTitle, fileExtension,
                    fileUpload.ImageFormat, fileBytes.Length, DateTime.Now, fileBytes);
                }
            }
            Response.Redirect(Href("~/Photo/View", db.GetLastInsertId()));
        }
    }
}
<h1>Отправить</h1>

<p>
    Фото будет отправлено в
    <a class="italic" href="~/View/@galleryId" title="@gallery.Name">@gallery.Name</a> фотоальбом.
</p>

<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary("Не удалось отправить:")
    <fieldset class="no-legend">
        <legend>Отправить</legend>
        @FileUpload.GetHtml(addText: "Добавить файлы", uploadText: "Отправить", includeFormTag: false)
        <p class="form-actions">
            <input type="submit" value="Отправить" title="Отправить" />
            <a href="~/View/@galleryId" title="Return to the &quot;@gallery.Name&quot; gallery.">Отмена</a>
        </p>
    </fieldset>
</form>

<p class="message info">
    Максимальный размер файла по умолчанию — 4 МБ. Чтобы изменить его, требуется обновить раздел 'HttpRuntimeSection/MaxRequestLength' в файле web.config. 
</p>